@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --surface: 255, 255, 255;
    --primary: 16, 185, 129;
    --secondary: 14, 165, 233;
    --text-main: 15, 23, 42;
    --text-muted: 100, 116, 139;
    --border: 241, 245, 249;
  }

  body {
    @apply bg-white text-[#0f172a] font-sans antialiased;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-100 rounded-full hover:bg-slate-200 transition-colors;
  }
}

/* Custom Smooth Scroll Disabled */
html {
  scroll-behavior: auto;
}